# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# Firebase generated local files
firebase-debug.log
firestore-debug.log
database-debug.log
storage-debug.log

# IDE
.idea/
.vscode/
*.iml

# System
.DS_Store
Thumbs.db